.at-row-but{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-bottom{
  display: flex;
  position: fixed;
  justify-content: space-around;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%,0 );
}
.page-bottom-btn{
  
}

  .at-bottom-btn{
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%,0 );
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    at-button{
      width: 50%;
      .at-button{
        border-radius: 0rpx;
      }
    }
  }
    
